.AboutPage-container{
    background-color: var(--main-bg);
    padding: 50px 20px;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 100px;

    border-left:10px solid var(--bg-green);
    border-right:10px solid var(--bg-green);
}

.aboutUs-container{
    display: flex;
    flex-direction: column;
    align-items: center;

    border: 15px solid var(--border-02);
    background-color: var(--bg-green);
    color: var(--lime-green-text);

    padding: 50px 20px;

    max-width: 1200px;
    width: 100%;

    gap: 15px
}

.whoWeAre-container{
    display: flex;
    justify-content: center;
    align-items: center;

    max-width: 1200px;
    width: 100%;
    border: 15px solid var(--border-02);
    background-color: var(--bg-green);

    padding: 20px;
    gap: 80px;
}

.whoWeAre-img{
    max-width: 320px;
    width: 100%;

    border: 8px solid var(--border-02);
    image-rendering: pixelated;
}

.whoWeAre{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    text-align: start;

    gap: 20px;

    color:var(--lime-green-text);

}

.whoWeAre p{
    line-height: 22px;
    font-size: medium;
}

.ourMission-container, .whatWeOffer-container{
    display: flex;
    flex-direction: column;
    align-items: center;

    gap:50px;
    

    width: 100%;
}

.ourMission, .whatWeOffer{
    background-color: var(--bg-green);
    color: var(--lime-green-text);
    border: 10px solid var(--border-02);
    padding: 20px;

    max-width: 1500px;
    width: 100%;
}

.ourMissionItems{
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 50px;

    display: grid;
    grid-template-columns: repeat(3 , 1fr);
}

.border-01{
    border: 12px dashed var(--border-02);
    background-color: var(--bg-green);
    
}
.ourMissionItem{
    border: 10px dashed var(--shadow-02);
    color: var(--heading-dark-green);
    background-color: var(--card-bg);

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 50px;

    padding: 50px 20px;
    max-width: 380px;
    width: 100%;
    height: 370px;
}

.ourMissionIcon, .whatWeOfferIcon{
    max-width: 150px;
    width: 100%;
}

.projectObj-container{
    display: flex;
    flex-direction: column;
    align-items: center;

    gap:50px;
    max-width: 1200px;
    width: 100%;
}

.projectObj{
    background-color: var(--bg-green);
    color: var(--lime-green-text);
    border: 10px solid var(--border-02);
    padding: 20px;

    max-width: 1200px;
    width: 100%;

}

.projectObjLists{
    display: flex;
    flex-direction: column;
    text-align: start;

    gap: 20px;

    color: var(--heading-dark-green);
}

.whatWeOfferItems{
    justify-content: center;
    
    gap: 50px;

    display: grid;
    grid-template-columns: repeat(3 , 1fr);
}

.whatWeOfferItem{
    border: 10px dashed var(--shadow-02);
    color: var(--bg-green);
    background-color: var(--card-bg);

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 30px;

    padding: 50px 20px;
    max-width: 380px;
    width: 100%;
    height: 370px;
}

.whatWeOfferItem h4{
    color: var(--heading-dark-green);
}

.platformFeature-container{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0 20px;

    width: 100%;
}

.platformFeature{
    background-color: var(--bg-green);
    color: var(--lime-green-text);
    border: 10px solid var(--border-02);
    padding: 20px;

    max-width: 1300px;
    width: 100%;
}

.outside-border{
    max-width: 1300px;
    width: 100%;

    border-top: none;
    border-left: 15px dashed var(--border-02);
    border-right: 15px dashed var(--border-02);
    border-bottom: 15px dashed var(--border-02);
    background-color: var(--bg-green);
}

.platformFeatureContent{
    border: 15px dashed var(--bg-green);
    background-color: var(--card-bg);
    color: var(--p-02);

    padding: 40px 20px;
    text-align: start;

    line-height: 25px;
}

.meetTheDev-container{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0 20px;

    width: 100%;
}

.DevInfoContainer{
    border: 15px dashed var(--border-02);
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 10px;
    max-width:1200px;
    width: 100%;

    background-color: var(--main-bg);
}

.meetTheDev{
    background-color: var(--bg-green);
    color: var(--lime-green-text);
    border: 10px solid var(--border-02);
    padding: 20px;

    max-width: 1200px;
    width: 100%;
}

.DeveloperInfo{
    display: flex;
    flex-direction: column;
    text-align: start;

    gap: 20px;
    padding: 20px;

    border-top: none;
    border-right: 10px solid var(--border-02);
    border-left: 10px solid var(--border-02);
    border-bottom: 10px solid var(--border-02);
    background-color: var(--card-bg);
    color: var(--heading-dark-green);
}

.myImg{
    border: 5px solid var(--border-02);
    max-width: 250px;
    width: 100%;

}

.DeveloperInfo p{
    color: var(--p-02);
}

.readyToExplore-container{
    display: flex;
    flex-direction: column;
    align-items: center;


    max-width: 1200px;
    width: 100%;

    border: 12px solid var(--heading-dark-green);
    background-color: var(--bg-green);
    color: var(--bg-green);
    
}

.outer-border{
    border: 12px dashed var(--bg-green);
    background-color: var(--heading-dark-green);
    max-width: 1200px;
    width: 100%;

}

.mid-border{
    border: 12px dashed var(--bg-green);
    background-color: var(--card-bg);
    max-width: 1200px;
    width: 100%;

    padding: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.readyToExplore-container h4{
    color: var(--heading-dark-green);
}

.exploreBtn-02{
    border: 10px solid var(--bg-green);
    background-color: var(--heading-dark-green);
    color: var(--lime-green-text);

    font-family: 'Press Start 2P';
    padding: 13px 20px;

    max-width: 300px;
    width: 100%;

    cursor: pointer;
}

.exploreBtn-02:hover{
    border: 10px solid var(--bg-green);
    background-color: var(--lime-green-text);
    color: var(--heading-dark-green);

}


@media (max-width: 1200px){
    /*Our Mission*/
    .ourMissionItems{
        grid-template-columns: repeat(2 , 1fr);
    }

    /*What We offer*/
    .whatWeOfferItems{
        grid-template-columns: repeat(2 , 1fr);
    }
}

@media( max-width: 950px){
    /* Project Object*/
    .projectObjLists{
        font-size: smaller;
    }
}

@media (max-width: 900px){
    /* Who We Are*/
    .whoWeAre-container{
        flex-direction: column;
        gap: 40px;
        text-align: center;
    }   
}

@media (max-width: 860px){
    .ourMissionItems{
    grid-template-columns: 1fr;
    }
}

@media (max-width: 800px){
    /* Project Object*/
    .projectObjLists{
        font-size: 10px;
        padding-left: 1.25rem;
    }

    /*What We offer*/
    .whatWeOfferItems{
        grid-template-columns: 1fr;
    }

    .whatWeOfferItem h4{
        font-size: smaller;
    }
    .whatWeOfferItem p{
        font-size: smaller;
    }
}

@media (max-width: 600px){
    /*Project Object*/
    .projectObjLists {
        padding-left: 1.25rem;
    }

    /*Platform featured*/
    .platformFeatureContent{
        font-size: small;
    }
}

@media (max-width: 500px){
    /*Platform featured*/
    .platformFeatureContent{
        font-size: 10px;
    }   
}

@media (max-width: 380px){
    /**/
    .exploreBtn-02{
        font-size: 8px;
    }
}