.navbar.cyberRetro{
    background-color: var(--border);
}
.navbar.cyberRetro .nav-link,
.navbar.cyberRetro .login-btn{
    color:var(--bg-color);
}

.navbar.cyberRetro .nav-link:hover,
.navbar.cyberRetro .login-btn:hover{
    background-color: var(--bg-color);
    color:var(--border);
}

/*About Page Theme*/
.navbar.gameBoy{
    background-color: var(--bg-green);
}
.navbar.gameBoy .nav-link,
.navbar.gameBoy .login-btn{
    color:var(--lime-green-text);
}

.navbar.gameBoy .nav-link:hover,
.navbar.gameBoy .login-btn:hover{
    background-color: var(--lime-green-text);
    color:var(--bg-green);
}


.footer-container.gameBoy{
    background-color: var(--bg-green);
    border: 10px solid var(--border-02); 
}
.footer-container.gameBoy .footerItems{
    color:var(--lime-green-text);
}


/*Games Page Theme*/
.navbar.GrayGameBoy{
    background-color: var(--grayGameBoy_Headers_Buttons);
}
.navbar.GrayGameBoy .nav-link,
.navbar.GrayGameBoy .login-btn{
    color:var(--grayGameBoy_Cards_Inputs);
}

.navbar.GrayGameBoy .nav-link:hover,
.navbar.GrayGameBoy .login-btn:hover{
    background-color: var(--grayGameBoy_Cards_Inputs);
    color:var(--grayGameBoy_Headers_Buttons);
}


.footer-container.GrayGameBoy{
    background-color: var(--grayGameBoy_Borders_Text);
    border: 10px solid var(--grayGameBoy_Headers_Buttons); 
}
.footer-container.GrayGameBoy .footerItems{
    color:var(--grayGameBoy_Cards_Inputs);
}


/*Service Page Theme*/
.navbar.bridgePlatform{
    background-color: var(--darkBrown-navbar-text-borders);
    
}
.navbar.bridgePlatform .nav-link,
.navbar.bridgePlatform .login-btn{
    color:var(--text-cream);
}

.navbar.bridgePlatform .nav-link:hover,
.navbar.bridgePlatform .login-btn:hover{
    background-color: var(--brightOrange-button-hightlights);
    color:var(--darkBrown-navbar-text-borders);
}


.footer-container.bridgePlatform{
    background-color: var(--darkBrown-navbar-text-borders);
    border: 10px solid var(--brightOrange-button-hightlights); 
}
.footer-container.bridgePlatform .footerItems{
    color:var(--deepOrange-main-bg);
}

/*Contact Page Theme*/
.navbar.midNightDarkPurple{
    background-color: var(--Dark-purple-blue_Contact-card);
    
}
.navbar.midNightDarkPurple .nav-link,
.navbar.midNightDarkPurple .login-btn{
    color:var(--Bright-neon_lavender_Highlights);
}

.navbar.midNightDarkPurple .nav-link:hover,
.navbar.midNightDarkPurple .login-btn:hover{
    background-color: var(--Bright-neon_lavender_Highlights);
    color:var(--Dark-purple-blue_Contact-card);
}


.footer-container.midNightDarkPurple{
    background-color: var(--Dark-purple-blue_Contact-card);
    border: 10px solid var(--purple_Borders); 
}
.footer-container.midNightDarkPurple .footerItems{
    color:var(--purple_Borders);
}

/*Login-Register Page Theme*/
.navbar.midNightDarkBlue{
    background-color: var(--text_p_login-register);
    
}
.navbar.midNightDarkBlue .nav-link,
.navbar.midNightDarkBlue .login-btn{
    color:var(--Main-bg_MidNight-DarkBlue_login-register);
}

.navbar.midNightDarkBlue .nav-link:hover,
.navbar.midNightDarkBlue .login-btn:hover{
    background-color: var(--Main-bg_MidNight-DarkBlue_login-register);
    color:var(--text_p_login-register);
}


.footer-container.midNightDarkBlue{
    background-color: var(--card-bg_text_login-register);
    border: 10px solid var(--text_p_login-register); 
}
.footer-container.midNightDarkBlue .footerItems{
    color:var(--text_p_login-register);
}

@media (max-width: 1250px) {
    /*home page*/
    .navbar.cyberRetro .nav-links{
        background: black;
        border: 10px solid var(--border);
    }
 
    /*About page*/
    .navbar.gameBoy .nav-links{
        background: var(--heading-dark-green);
        border: 10px solid var(--shadow-02);
    }

    /*Games page*/
    .navbar.GrayGameBoy .nav-links{
        background: var(--grayGameBoy_Borders_Text);
        border: 10px solid var(--grayGameBoy_Headers_Buttons);
    }

    /*Service page*/
    .navbar.bridgePlatform .nav-links{
        background: var(--burntOrange-cards-sections);
        border: 10px solid var(--darkBrown-navbar-text-borders);
    }

    /*Contact Page*/
    .navbar.midNightDarkPurple .nav-links{
        background: var(--Deep-space_main-bg);
        border: 10px solid var(--Dark-purple-blue_Contact-card);
    }

    /*Login Page*/
    .navbar.midNightDarkBlue .nav-links{
        background: var(--card-bg_text_login-register);
        border: 10px solid var(--text_p_login-register);
    }
}