:root{
  --bg-color: #1B1B3A;
  --extra-color1: #FFD166;
  --border: #4EF3C9;
  --extra-color2: #FF2E88;
  --white-text: #F7F7FF;
  --black: #000000; 
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-color);
  color: var(--white-text);

  font-family: "Press Start 2P", monospace;

  border-left:7px solid var(--border);
  border-right:7px solid var(--border);

  text-align: center;
}

