:root{
  /*Home Page Theme*/
  --bg-color: #1B1B3A;
  --extra-color1: #FFD166;
  --border: #4EF3C9;
  --extra-color2: #FF2E88;
  --white-text: #F7F7FF;
  --black: #000000; 

  /*About Page Theme*/
  --heading-dark-green: #0F380F;
  --bg-green: #306230;
  --main-bg: #8BAC0F;
  --lime-green-text: #9BBC0F;
  --card-bg: #9BBC0F;
  --border-02: #0F380F;
  --shadow-02: #306230;
  --p-02: #306230;

  /*Service Page Theme*/
  --darkBrown-navbar-text-borders: #3A1F12;
  --brightOrange-button-hightlights: #F28C28;
  --burntOrange-cards-sections: #C75B22;
  --deepOrange-main-bg: #8F3B16;
  --text-cream: #FFF1D6;

  /*Contact Page Theme*/
  --Deep-space_main-bg: #0A0A1A;  
  --Dark-purple-blue_Contact-card:#210F66;
  --purple_Borders:#5D3EB3;
  --Bright-neon_lavender_Highlights:#CB91F2 ;
  --soft-white-text: #d8c7f8d8;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-color);
  color: var(--white-text);

  font-family: "Press Start 2P", monospace;

  text-align: center;
}

